<div class="verbs-container mat-elevation-z8">
  <button mat-icon-button *ngIf="globales.administrateur" routerLink="/verbs/new">
    <mat-icon>add</mat-icon>
  </button>
  <mat-table #table [dataSource]="verbs">

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> {{globales.administrateur ? 'Actions' : 'Action'}} </mat-header-cell>
      <mat-cell *matCellDef="let verb">
        <button mat-icon-button class="icon-button" routerLink="/verbs/{{verb.id}}">
          <mat-icon class="icon">search</mat-icon>
        </button>
        <button mat-icon-button class="icon-button" *ngIf="globales.administrateur" routerLink="/verbs/{{verb.id}}/edit">
          <mat-icon class="icon">mode_edit</mat-icon>
        </button>
        <button type="button" mat-icon-button class="icon-button" *ngIf="globales.administrateur" (click)="delete(verb)">
          <mat-icon class="icon">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- data Columns -->
    <div *ngFor="let column of displayedColumns.slice(1)">
      <ng-container matColumnDef="{{column}}">
        <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
        <mat-cell *matCellDef="let theme"> {{theme[column]}} </mat-cell>
      </ng-container>
    </div>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
