<div class="langues-container mat-elevation-z8">
  <button mat-icon-button *ngIf="globales.administrateur" routerLink="/languages/new">
    <mat-icon>add</mat-icon>
  </button>
  <mat-table #table [dataSource]="globales.languages">

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> {{globales.administrateur ? 'Actions' : ''}} </mat-header-cell>
      <mat-cell *matCellDef="let language">
        <button mat-icon-button *ngIf="globales.administrateur" routerLink="/languages/{{language.id}}">
          <mat-icon class="icon">mode_edit</mat-icon>
        </button>
        <button type="button" mat-icon-button *ngIf="globales.administrateur" (click)="delete(language)">
          <mat-icon class="icon">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- data Columns -->
    <div *ngFor="let column of displayedColumns.slice(1)">
      <ng-container matColumnDef="{{column}}">
        <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
        <mat-cell *matCellDef="let language"> {{language[column]}}</mat-cell>
      </ng-container>
    </div>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
