.error {
  color: red;
}

.type-detail-container {
  display: flex;
  flex-direction: row;
  color: blue;
}

.type-detail-container > * {
  width: 100%;
}

.ng-pending::after {
  display: inline-block;
  content: 'Vérification en cours...';
}

[hidden] {
  display: none;
}
