<div *ngIf="form" >
  <h2>Liste des formes verbales</h2>
  <form [formGroup]="form" (submit)="onSubmit()">
    <button mat-icon-button (click)="add(0)">
      <mat-icon>add</mat-icon>
    </button>
    <div formArrayName="typesForm">
      <mat-card *ngFor="let formGroup of form.controls['typesForm'].controls; let i=index">
        <mat-card-content [formGroupName]="i">
          <div class="type-detail-container" (focusout)="renum()">
            <mat-form-field hidden>
              <input matInput placeholder="id" formControlName="id">
            </mat-form-field>
            <mat-form-field hidden>
              <input matInput placeholder="language_id" formControlName="language_id">
            </mat-form-field>
            <mat-form-field>
              <input matInput type="number" placeholder="number" formControlName="number">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="in_language" formControlName="in_language">
              <mat-error *ngIf="form.controls['typesForm'].controls[i].get('in_language').hasError('required')">
                Cette donnée est obligatoire
              </mat-error>
              <mat-error *ngIf="form.controls['typesForm'].controls[i].get('in_language').hasError('existeDejaListe')">
                Ce mot existe déjà dans cet écran
              </mat-error>
            </mat-form-field>
            <mat-form-field hidden>
              <input matInput placeholder="last_update" formControlName="last_update">
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="verbsIndicator" formControlName="verbsIndicator" #verbsIndicator>
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button (click)="add(i + 1)">
            <mat-icon>add</mat-icon>
          </button>
          <button *ngIf="verbsIndicator.value !== 'true'" mat-icon-button (click)="remove(i)">
            <mat-icon>remove</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div *ngIf="form.controls['typesForm'].controls.length % 10 === 0" class="error">Pensez à soumettre votre saisie !</div>
    <button mat-raised-button type="submit">Submit</button>
    <button mat-raised-button type="button" (click)="onCancel()">Cancel</button>
  </form>
</div>
