<div class="verb-detail-container mat-elevation-z8">
  <p *ngIf="lectureEnCours">En attente de la liste...</p>
  <div *ngIf="!lectureEnCours">
    <p>Conjugaison du verbe "<strong>{{verb.in_language}}</strong>"</p>
    <button mat-icon-button *ngIf="globales.administrateur" routerLink="/verbs/{{verb.id}}/edit">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button (click)="cancel()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <mat-table *ngIf="!lectureEnCours" #table [dataSource]="lignes">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- data Columns -->
      <div *ngFor="let column of displayedColumns">
        <ng-container matColumnDef="{{column}}">
          <mat-header-cell *matHeaderCellDef> {{column}} </mat-header-cell>
          <mat-cell *matCellDef="let ligne"> {{ligne[column]}} </mat-cell>
        </ng-container>
      </div>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</div>
